@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #eaddcf;
    --foreground: #111111;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-feature-settings: "rlig" 1, "calt" 1;
  -webkit-font-smoothing: none;
}

@layer utilities {
  .yeezy-card {
    @apply bg-yeezy-light border-4 border-foreground rounded-none shadow-[8px_8px_0px_0px_rgba(17,17,17,1)];
  }

  .yeezy-button {
    @apply font-pixel uppercase bg-yeezy-dark text-yeezy-light border-4 border-foreground rounded-none shadow-[4px_4px_0px_0px_rgba(17,17,17,1)] hover:shadow-[0px_0px_0px_0px_rgba(17,17,17,1)] hover:translate-x-[4px] hover:translate-y-[4px] transition-all;
  }
}
